section {
  display: flex;
  /* height: 300px; */
}

.odin-img {
  width: 400px;
  height: 700px;
  display: flex;
  justify-content: stretch;
  align-items: center;
  background-image: url("odin.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 100px;
}
.logo p {
  color: #ffffff;
}
.form-color {
  width: 100;
  background-color: hsl(0, 0%, 95%);
  margin-bottom: 30px;
  margin-top: 30px;
  padding-top: 30px;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
}

.odin-content {
  margin-left: 30px;
  flex: auto;
}

.odin-form {
  display: flex;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper input {
  margin-bottom: 10px;
}

.odin-space {
  margin-right: 30px;
  margin-bottom: 60px;
}

.myButton {
  box-shadow: 0px 10px 14px -7px #3e7327;
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color: #77b55a;
  border-radius: 7px;
  border: 1px solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 11px 38px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
}
.myButton:hover {
  background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  background-color: #72b352;
}
.myButton:active {
  position: relative;
  top: 1px;
}
